@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
}
:root{
    --blue-panel: #47606A;
    --black-panel: #111111;


    --dark-color: hsl(180,5%,8%);
    --dark-color-ligth: hsl(0, 0%,100%);
    --first-color: #282828;
    --text-color: #05A8EE;
    --body-color: hsl(29,100%,99%);

    --h3-font-size: 1.5rem;
    --smaller-font-size: .90rem;

}
body {
    background-color: #111111;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 

}


.space-container-area {
    display: flex;
    flex-direction: row; /* Por defecto, en pantallas anchas */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.left-space-zone {
    flex: 0 0 15%; 
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-space-zone .contenedor-card-perfil {
    min-width: 20vh;
    min-height: 30vh;
    background-color: #282828;
    border: 2px solid #888;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.left-space-zone .contenedor-card-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-space-zone .contenedor-card-perfil .avatar-perfil-publicar{
    position: absolute;
    transform: translateX(60%);
    top: 80px;
    width: 100px;
    height: 90px;
    border-radius: 25px 0px 25px 25px;
    overflow: hidden;
}
.left-space-zone .contenedor-card-perfil .content-perfil-publicar-info-user{
    position: absolute;
    left: 50px;
    top: 190px;
}
.left-space-zone .contenedor-card-perfil .content-perfil-publicar-info-user h2{
    color: #868686;
}
.left-space-zone .contenedor-card-perfil .content-perfil-publicar-info-user h4{
    color: #414141;
}

.left-space-zone .add-homeBtn .icon-button {
    background: #282828; 
    width: 50px;
    height: 50px;
    cursor: pointer; 
    padding: 0; 
}
.add-homeBtn i {
    font-size: 2vh; 
}

.center-space-zone {
    flex: 0 0 60%; 
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-space-zone .upload-space-zone {
    width: 65vh;
    height: 80vh;
    background-color: #282828;
    border: 5px solid #FF2929;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.center-space-zone .upload-space-zone h2 {
    color: #FF2929;
    margin-bottom: 20%;
    margin-top: -15%;
}
.center-space-zone .upload-space-zone i {
    font-size: 25vh;
    color: #1a1a1a;
}
.center-space-zone .upload-space-zone h6 {
    color: #808080;
    font-size: 1vh;

}
.right-space-zone {
    flex: 0 0 25%; 
    background-color:  #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-space-zone .upload-space-zone-info {
    /* padding-left: 30%;
    margin-right: 30%; */
    width: 35vh;
    height: 70vh;
    background-color: #282828;
    border: 2px solid #888;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.right-space-zone .upload-space-zone-info .upload-space-zone-title {
    color: #A9A9A9;
    text-align: center;
    margin: 0;
    height: 30%; 
    display: flex;
    align-items: center; 
}

.right-space-zone .upload-space-zone-info .upload-space-zone-form-container {
    height: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%; 
}

.right-space-zone .upload-space-zone-info .upload-space-zone-name-label {
    color: #414141;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;


}

.right-space-zone .upload-space-zone-info .upload-space-zone-description-label {
    color: #414141;
    background-color: #131313;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-space-zone .upload-space-zone-info .upload-space-zone-create-button {
    background-color: #FF2929;
    color: #050505;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
    width: 30%; 
    margin-bottom: 100px;
}

/* Media query para pantallas verticales */
@media (max-width: 768px) {
    .space-container-area {
        flex-direction: column; /* Cambia a columna en pantallas estrechas */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .left-space-zone, .center-space-zone, .right-space-zone {
        flex: 0 0 auto; /* Permite que cada zona ocupe su propio espacio */
        width: 100%; /* Cada zona ocupa el 100% del ancho en vertical */
    }

    .left-space-zone {
        height: 20vh; /* Ocupa el 20% de la altura total */
    }

    .center-space-zone {
        height: 50vh; /* Ocupa el 50% de la altura total */
    }

    .right-space-zone {
        height: 30vh; /* Ocupa el 30% de la altura total */
    }
}






.menu-add-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 70px;
    margin-top: 150px; 
    border-radius: 25px;
    background-color: var(--first-color);
    z-index: 2;
}
.menu-add-perfil .icon-button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    padding: 0; /* Sin padding */
}
.menu-add-perfil i {
    font-size: 4vh; 
    color: #A9A9A9;
    margin: 0 20px;
}

.container-perfil-info-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    min-height: 10vh; 
    margin-top: -60px; 

    margin-top: -10%;
}
.container-perfil-info .avatar-perfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-perfil-info-dashboard .container-perfil-info {
    position: relative;
    width: 380px;
    height: 350px;
    background: var(--first-color);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
 .container-perfil-info:hover {
    height: 480px;

}
 .container-perfil-info .avatar-perfil {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 36px 0px 36px 36px;
    border: 5px solid #05A8EE;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.50);
    overflow: hidden;
    transition: 0.5s;
}

 .container-perfil-info:hover .avatar-perfil {
    width: 250px;
    height: 250px;
    top: -100px;
    border-radius: 20px;
}

 .container-perfil-info .content-perfil-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container-perfil-info .content-perfil-info .details-perfil-info {
    padding: 80px;
    text-align: center;
    width: 100%;
    transform: translateY(150px);
    transition: 0.5s;
    margin-bottom: 30px;
}

.container-perfil-info:hover .content-perfil-info .details-perfil-info {
    transform: translateY(60px);
}

.container-perfil-info-dashboard .content-perfil-info .details-perfil-info h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #05A8EE;
    line-height: 1.2em;
}

.container-perfil-info .content-perfil-info .details-perfil-info h2 span {
    font-size: 0.85em;
    font-weight: 500;
    opacity: 0.5;
    color: #babbbc;
}

.container-perfil-info .content-perfil-info .details-perfil-info h4 {

    font-weight: 500;
    opacity: 0.5;
    color: #babbbc;
}
.container-perfil-info .content-perfil-info .details-perfil-info .data-perfil-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: -55px;
    margin-left: 10px;
}

.container-perfil-info .content-perfil-info .details-perfil-info .data-perfil-info h3 {
    font-size: 1em;
    color: #05A8EE;
    line-height: 1.2em;
    font-weight: 600;
}

.container-perfil-info .content-perfil-info .details-perfil-info .data-perfil-info h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
}

.container-perfil-info .content-perfil-info .details-perfil-info .actionBtn-perfil-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
/* diseno de los botones */
.container-perfil-info .content-perfil-info .details-perfil-info .actionBtn-perfil-info button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 450;
    background: #05A8EE;
    color: #fff;
    cursor: pointer;
    margin-top: 60px; /* Agrega un margen superior a los botones */
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in;
    
}
.container-perfil-info .content-perfil-info .details-perfil-info .actionBtn-User-info button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #05A8EE;
    color: #fff;
    cursor: pointer;
    margin-top: 60px; 
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in;
    
}
.container-perfil-info:hover .content-perfil-info .details-perfil-info .actionBtn-User-info button {
    visibility: visible;
    opacity: 1;
    
}
.container-perfil-info .content-perfil-info .details-perfil-info .actionBtn-perfil-info button:nth-child(2) {
    border: 1px solid #999;
    color: var(--dark-color);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in;
}
.container-perfil-info:hover .content-perfil-info .details-perfil-info .actionBtn-perfil-info button {
    visibility: visible;
    opacity: 1;
    
}

.container-perfil-info:hover .content-perfil-info .details-perfil-info .actionBtn-perfil-info button:nth-child(2) {
    visibility: visible;
    opacity: 1;
}

/* diseno social  */
.container-perfil-info .perfil-info-social {
    width: 260px;
    background-color: var(--dark-color);
    padding: 0.75rem;
    border-radius: 3rem;
    text-align: initial;
    box-shadow: 0 8px 24px black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 18px 17px;
}

.container-perfil-info .perfil-info-social-control {
    position: relative;
    transform-origin: 18px 18px;
    transition: transform 0.45s ease;
    transform: rotate(0);
}

.container-perfil-info .perfil-info-social-toggle {
    display: inline-flex;
    background-color: #05A8EE;
    color: var(--dark-color);
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.container-perfil-info .perfil-info-social-text {
    display: block;
    color: #999;
    font-size: #05A8EE;
    font-weight: 500;
    opacity: 1;
    transition: opacity 2s ease-in;
}

.container-perfil-info:hover .perfil-info-social-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in;
}


.container-perfil-info .perfil-info-social-list {
    display: inline-flex;
    column-gap: 0.75rem;
    transform: rotate(135deg);
    transform-origin: 18px 17px;
}

.container-perfil-info .perfil-info-social-link {
    display: inline-flex;
    background-color: var(--dark-color-light);
    color: #05A8EE;
    font-size: 1.25rem;
    padding: 8px;
    border-radius: 50%;
}

.perfil-info-social-text,
.perfil-info-social-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 3.1rem;
}

.container-perfil-info .perfil-info-social-text {
    top: 0.5rem;
}

/* Animation on add button */
.animation .perfil-info-social-control {
    transform: rotate(-135deg);
}

.perfil-info-social.animation {
    animation: up-animation 1s ease-in-out forwards;
}

/* Keyframe animation  Up*/
@keyframes up-animation {

    0%,
    100% {
        transform: rotate(0);
    }

    50%,
    60% {
        transform: rotate(-3deg);
    }

    88% {
        transform: rotate(1deg);
    }
}

/*Down animation */
.perfil-info-social.down-animation {
    animation: down-animation 1s ease-in-out forwards;
}

/* Keyframes animation down*/
@keyframes down-animation {

    0%,
    100% {
        transform: rotate(0);
    }

    50%,
    60% {
        transform: rotate(6deg);
    }

    88% {
        transform: rotate(-1deg);
    }
}

/* Estilos generales del modal */
.modal-edit-user {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /
}

/* Contenido del modal */
.modal-content {
    background-color: #fff; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    border-radius: 8px; 
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

/* Estilos para el título */
h2 {
    margin: 0 0 20px; 
    font-size: 24px; 
    color: #05A8EE; 
}

/* Estilos para el formulario */
form {
    display: flex; 
    flex-direction: column; 
}

/* Estilos para las etiquetas */
label {
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #868686;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

/* Estilos para el botón de guardar */
button {
    background-color: #05A8EE; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: var(--dark-color);
    color:#868686; 
}

/* Estado activo del botón de like */
.paw-button.active-like i {
    color: #FF2929;
    transition: color 0.3s ease;
}

/* También puedes hacer que al pasar el mouse siempre muestre un hover */
.paw-button i:hover {
    color: #FF2929;
    transition: color 0.3s ease;
}
